{
    "broker_info": {
        "url": "m21.cloudmqtt.com",
        "port": 18103,
        "topic": "ehealth",
        "options": {
            "username": "ehealth_user",
            "password": "ehealth_password"
        }
    },
    "mongodb_info": {
        "url": "mongodb://ehealth:ehealth@ds063856.mlab.com:63856/ojathelonius",
        "collection": "rasp_sensor",
        "secret":"ehealth"
    }
}
